{
	"plugins": ["stylelint-a11y"],
	"rules": {
		"a11y/media-prefers-reduced-motion": true,
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true,
		"at-rule-semicolon-newline-after": "always",
		"at-rule-semicolon-space-before": "never",
		"block-closing-brace-empty-line-before": "never",
		"block-no-empty": true,
		"block-opening-brace-newline-after": "always",
		"block-opening-brace-space-before": "always",
		"color-no-invalid-hex": true,
		"comment-empty-line-before": "always",
		"comment-no-empty": true,
		"comment-whitespace-inside": "always",
		"declaration-block-no-duplicate-properties": [true, {
			"severity": "warning"
		}],
		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-semicolon-space-before": "never",
		"declaration-colon-space-after": "always",
		"declaration-colon-space-before": "never",
		"function-comma-space-after": ["always", {
			"except": ["newline"]
		}],
		"function-comma-space-before": "never",
		"function-parentheses-space-inside": "never",
		"indentation": ["tab", {
			"message": "Please use tabs instead of spaces"
		} ],
		"no-duplicate-at-import-rules": true,
		"no-empty-first-line": true,
		"no-eol-whitespace": [true, {
			"ignore": ["empty-lines"]
		}],
		"number-leading-zero": ["never", {
			"severity": "warning"
		}],
		"unit-case": "lower",
		"unit-no-unknown": true,
		"value-list-comma-newline-after": "always-multi-line",
		"value-list-comma-space-after": "always-single-line",
		"value-list-comma-space-before": "never",
	}
}